<section class="section1">
  <h2 class="section-heading heading">{{ getHeading() }}</h2>
  
  <p class="section-subheading">{{ getSubheading() }}</p>

  <div class="challenges-container">
    <div *ngFor="let challenge of challenges.challenges; let i = index" class="challenge-card">
      <div class="challenge-image-container">
        <img [src]="getImagePath(i)" [alt]="getChallengeTitle(challenge)" class="challenge-image">
      </div>
      <h3 class="challenge-title">{{ getChallengeTitle(challenge) }}</h3>
    </div>
  </div>
</section>