@use "./assets/styles/variables" as *;

body,
html {
  background-color: $color3;
  width: 100%;
  // overflow-x: hidden; // Prevents horizontal scrolling
  margin: 0;
  padding: 0;
}
.layout-wrapper {
  overflow-x: hidden;
}

@font-face {
  font-family: "Asomtavruli";
  src: url("/assets/fonts/asomtavruli.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Apply font only to elements with class "heading" */
.heading {
  font-family: "Asomtavruli", sans-serif;
}
