@use "./assets/styles/variables" as *;

body,
html {
  background-color: $color3;
  width: 100%;
  // overflow-x: hidden; // Prevents horizontal scrolling
  margin: 0;
  padding: 0;
}
.layout-wrapper {
  overflow-x: hidden;
}

