<div class="layout-wrapper">
    <app-navbar (requestModalTrigger)="openRequestModal()"></app-navbar>
    <app-main id="main"></app-main>
    <app-section1 id="section1"></app-section1>
  </div>
  
  <app-section2 id="section2" (requestModalTrigger)="openRequestModal()"></app-section2>
  
  <div class="layout-wrapper">
    <app-section3 id="section3" (requestModalTrigger)="openRequestModal()"></app-section3>
    <app-section4 id="section4"></app-section4>
    <app-footer></app-footer>
  </div>
  
  <app-request-modal [(visible)]="isRequestModalVisible" />
  