<div class="layout-wrapper">
  <app-navbar (requestModalTrigger)="openRequestModal()"></app-navbar>
  <app-main id="main"></app-main>
  
  <app-section2 id="section2"></app-section2>
</div>

<app-section3
  id="section3"
  (requestModalTrigger)="openRequestModal()"
></app-section3>

<div class="layout-wrapper">
  <app-section4
    id="section4"
    (requestModalTrigger)="openRequestModal()"
  ></app-section4>
  <app-section1
    id="section1"
    (requestModalTrigger)="openRequestModal()"
  ></app-section1>
  <app-section5 id="section5"></app-section5>
  <app-footer></app-footer>
</div>

<app-request-modal [(visible)]="isRequestModalVisible" />
